<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Teacher Time Table</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/matrix-style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/matrix-media.css}" />
<link rel="stylesheet" th:href="@{/assets/css/datepicker.css}" />
<link rel="stylesheet" th:href="@{/assets/css/uniform.css}" />
<link rel="stylesheet" th:href="@{/assets/css/select2.css}" />
<link th:href="@{/assets/font-awesome/css/font-awesome.css}"
	rel="stylesheet" />
<link
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,700,800}"
	rel='stylesheet' type='text/css' />
</head>
<body>

	<!--Header-part-->
	<div id="header">
		<img src="/images/logo.png" width="185" height="" />
	</div>
	<!--close-Header-part-->

	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class="dropdown" id="profile-messages"><a title="" href="#"
				data-toggle="dropdown" data-target="#profile-messages"
				class="dropdown-toggle"><i class="icon icon-user"></i> <span
					class="text">Welcome User</span><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/myprofile}"><i class="icon-user"></i> My Profile</a></li>
					<li class="divider"></li>
					<li><a th:href="@{/logout}"><i class="icon-key"></i> Log Out</a></li>
				</ul></li>
			<li class=""><a title="" th:href="@{/mysettings}"><i class="icon icon-cog"></i>
					<span class="text">Settings</span></a></li>
			<li class=""><a title="" th:href="@{/logout}"><i
					class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>


	<!--sidebar-menu-->

	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i>
			Dashboard2</a>
		<ul>
			<li class="submenu"><a href="#"><i class="icon icon-th-list"></i>
					<span>Teacher Management Systems</span></a>
				<ul>
					<li><a th:href="@{/add_manage_students/1}">Student Registration /update /delete</a></li>
					<li><a th:href="@{/students_exams_marks/2}">Student Exams Marking Management</a></li>
					<li><a th:href="@{/students_attendance_track/3}">Student Attendance Track</a></li>
					<li><a th:href="@{/students_fee_management/4}">Student Fee Management</a></li>
					<li><a th:href="@{/generate_student_report/5}">Generate Student Report</a></li>
					<li><a th:href="@{/add_manage_teachers/1}">Teacher Registration Add /Update</a></li>
					<li><a th:href="@{/teachers_exams_duties/2}">Teachers Exam Duties</a></li>
					<li><a th:href="@{/teachers_time_table/3}">Teachers Lecture Schedule</a></li>
					<li><a th:href="@{/teachers_salary_management/4}">Teachers Salary Management</a></li>
					<li><a th:href="@{/generate_teacher_report/5}">Generate Teacher Report</a></li>
					<li><a th:href="@{/maintenance_staff_management/6}">Maintenance Staff Management</a></li>
					<li><a th:href="@{/school_bus_management/7}">School Busses Management</a></li>
					<li><a th:href="@{/utitliy_bills_management/8}">Utility Bills Management</a></li>
				</ul></li>
		</ul>
	</div>

	<div id="content">

		<div class="widget-content" id="same-line-div">
			<p>
			<h2>Manage Teachers Lectures</h2>
			</p>
		</div>

		<div class="container-fluid">

			<div class="widget-title">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tab1">Set
							/Update Lecture</a></li>
					<li><a data-toggle="tab" href="#tab2">View Scheduled Lectures</a></li>
				</ul>
			</div>

			<div class="widget-content tab-content">

				<div id="tab1" class="tab-pane active">
					<form class="form-horizontal" method="post" th:action="@{/add_lecture_schedule}" th:object="${teacher}"
						name="basic_validate" id="basic_validate" novalidate="novalidate">
						<input type="hidden" th:field="*{id}"/>
						<div class="control-group">
							<label class="control-label">Teacher Id</label>
							<div class="controls">
								<input type="text" name="required" id="required" th:field="*{teacherId}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Select Course</label>
							<div class="controls">
								<select th:field="*{course}">
									<option th:each="cours : ${courses}"
									th:value="${cours}"
									th:text="${cours}">CS101</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Room Number</label>
							<div class="controls">
								<input type="text" name="required" id="required" th:field="*{roomNo}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Lecture Date</label>
							<div class="controls">
								<input type="text" name="date" id="date" th:field="*{examDate}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Lecture Time</label>
							<div class="controls">
								<input type="text" name="required" id="required" th:field="*{time}"/>
							</div>
						</div>
						<div class="form-actions">
							<input type="submit" value="Add" class="btn btn-success"
								style="margin-left: 350px;" />
						</div>
					</form>
				</div>

				<div id="tab2" class="tab-pane">
					<div class="widget-title">
						<span class="icon"><i class="icon-th"></i></span>
						<h5>Teachers Lecture Schedule</h5>
					</div>
					<table class="table table-bordered data-table">
						<thead>
							<tr>
								<th>Teacher ID</th>
								<th>Course</th>
								<th>Room Number</th>
								<th>Date</th>
								<th>Time</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="time : ${timeTable}">
								<td th:text="${time.teacherId}">1234</td>
								<td th:text="${time.course}"></td>
								<td th:text="${time.roomNo}">12</td>
								<td th:text="${time.examDate}">02-02-2017</td>
								<td th:text="${time.time}">02:00</td>
								<td class="center">
									<a th:href="@{'/edit_lecture_schedule/' + ${time.id}}" class="btn btn-primary btn-mini">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/jquery.ui.custom.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/jquery.uniform.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.js}"></script>
	<script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/assets/js/matrix.js}"></script>
	<script th:src="@{/assets/js/matrix.form_common.js}"></script>
	<script th:src="@{/assets/js/matrix.tables.js}"></script>

</body>
</html>
