<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	</head>
	<body>
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>S4Sgen</h1>
						<p>Some thing went wrong</p>
					</header>
				</div>
			</section>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
			<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>

	</body>
</html>