<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Settings</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/matrix-style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/matrix-media.css}" />
<link rel="stylesheet" th:href="@{/assets/css/datepicker.css}" />
<link rel="stylesheet" th:href="@{/assets/css/uniform.css}" />
<link rel="stylesheet" th:href="@{/assets/css/select2.css}" />
<link th:href="@{/assets/font-awesome/css/font-awesome.css}"
	rel="stylesheet" />
<link
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,700,800}"
	rel='stylesheet' type='text/css' />
</head>
<body>

	<!--Header-part-->
	<div id="header">
		<img src="/images/logo.png" width="185" height="" />
	</div>
	<!--close-Header-part-->

	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class="dropdown" id="profile-messages"><a title="" href="#"
				data-toggle="dropdown" data-target="#profile-messages"
				class="dropdown-toggle"><i class="icon icon-user"></i> <span
					class="text">Welcome User</span><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/myprofile}"><i class="icon-user"></i> My Profile</a></li>
					<li class="divider"></li>
					<li><a th:href="@{/logout}"><i class="icon-key"></i> Log Out</a></li>
				</ul></li>
			<li class=""><a title="" th:href="@{/mysettings}"><i class="icon icon-cog"></i>
					<span class="text">Settings</span></a></li>
			<li class=""><a title="" th:href="@{/logout}"><i
					class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>


	<!--sidebar-menu-->

	<div id="sidebar">
		
	</div>

	<div id="content">

		<div class="widget-content" id="same-line-div">
			<p>
			</p>
		</div>

		<div class="container-fluid">
			<form class="form-horizontal" method="post" th:action="@{/update_user_password}" th:object="${setting}"
				name="basic_validate" id="basic_validate" novalidate="novalidate">
				<div class="control-group">
					<label class="control-label">Old Password</label>
					<div class="controls">
						<input type="password" name="required" id="required" th:field="*{password}"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">New Password</label>
					<div class="controls">
						<input type="password" name="required" id="required" th:field="*{newPassword}"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Confirm New Password</label>
					<div class="controls">
						<input type="password" name="required" id="required" />
					</div>
				</div>
				<div class="form-actions">
					<input type="submit" value="Update" class="btn btn-success"
						style="margin-left: 330px;" />
				</div>
			</form>
			<span th:if="${param.reset}"><p style="color: #61B414;">Password Successfully Updated</p></span>
			<span th:if="${param.incorrect}"><p style="color: #FF1C19;">Old Password invalid, please verify</p></span>
			<span th:if="${param.error}"><p style="color: #FF1C19;">Something went wrong</p></span>
		</div>
	</div>


	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/jquery.ui.custom.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/jquery.uniform.js}"></script>
	<script th:src="@{/assets/js/jquery.validate.js}"></script>
	<script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/assets/js/matrix.js}"></script>
	<script th:src="@{/assets/js/matrix.form_common.js}"></script>
	<script th:src="@{/assets/js/matrix.tables.js}"></script>

</body>
</html>
