<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>System Features</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/matrix-style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/matrix-media.css}" />
<link th:href="@{/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,700,800}" rel='stylesheet' type='text/css' />
</head>
<body>

<!--Header-part-->
<div id="header">
  <img src="/images/logo.png" width="185" height="" />
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class="dropdown" id="profile-messages"><a title="" href="#"
				data-toggle="dropdown" data-target="#profile-messages"
				class="dropdown-toggle"><i class="icon icon-user"></i> <span
					class="text">Welcome User</span><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a th:href="@{/myprofile}"><i class="icon-user"></i> My Profile</a></li>
					<li class="divider"></li>
					<li><a th:href="@{/logout}"><i class="icon-key"></i> Log Out</a></li>
				</ul></li>
			<li class=""><a title="" th:href="@{/mysettings}"><i class="icon icon-cog"></i>
					<span class="text">Settings</span></a></li>
			<li class=""><a title="" th:href="@{/logout}"><i
					class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>


<!--sidebar-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
  <ul>
    <li class="submenu">
    	<a href="#"><i class="icon icon-th-list"></i>
    	<span>Management Systems</span></a>
      <ul>
        <li><a href="form-common.html">Education Management System</a></li>
        <li><a href="form-validation.html">Resturant Management System</a></li>
        <li><a href="form-wizard.html">Hospital Management System</a></li>
        <li><a href="form-wizard.html">Transport Management System</a></li>
      </ul>
    </li>
  </ul>
</div>


<div id="content">
  <!-- <div id="content-header">
    <div id="breadcrumb"> 
    	<a href="systems.html" title="Go to Home" class="tip-bottom"><i class="icon-list"></i> Management Systems</a>
    	<i class="icon-caret-right"></i> 
    	<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-list-alt"></i> Transport Management Systems</a> 
	</div>
  </div> -->
  <div class="container-fluid">
    <hr/>
      <div class="span12">
          <div class="widget-content" id="same-line-div">
            <!--  management systems go here.... -->
            <p><h1>Select Features You Need</h1></p>
          </div>
      </div>
      
      	<div class="span12">
			<form th:action="@{/save_user_systemfeatures}" method="post" onSubmit="return validateChecked();">
				<div class="widget-content" id="same-line-div">
					<br />
					<div th:each="systemFeature,iter : ${systemFeatures}">
						<input type="checkbox" th:id="${systemFeature.id}" name="features" th:value="${iter.index}"/> 
						<label th:for="${systemFeature.id}"><h4 th:text="${systemFeature.feature}">System feature</h4></label>
					</div>
					<button class="btn btn-success">Save</button>
				</div>
			</form>
		</div>
      
  </div>
</div>
 
<script th:src="@{/assets/js/jquery.min.js}"></script> 
<script th:src="@{/assets/js/jquery.ui.custom.js}"></script> 
<script th:src="@{/assets/js/bootstrap.min.js}"></script>  
<script th:src="@{/assets/js/jquery.peity.min.js}"></script> 
<script th:src="@{/assets/js/matrix.js}"></script>

<script type="text/javascript">

function validateChecked(){
	var selected = [];
	$('input[type="checkbox"]:checked').each(function() {
	    selected.push($(this).attr('id'));
	});
	console.log(selected);
	
	if(selected.length)
		return true;
	else
		return false;
}

</script>
   
</body>
</html>
